{% extends "bptrack_base.html" %}
{% load widget_tweaks %}

{% block content %}

<!--
    In an HTML form the action attribute defines the action to be performed when the form is submitted.
    Usually is points to a url corresponding to a web page on the server side which will process the form data.
    If the action attribute is omitted, the action is set to the current page.
    I believe this is why in this example I can leave the action empty; the view takes care of executing the action and re-directing to the success_url page.
    
     -->

<form action="" method="POST">
    {% csrf_token %}
    {% if form.non_field_errors %}
      <ul>
        {% for error in form.non_field_errors %}
          <li> {{ error }} </li>
        {% endfor %}
      </ul>
    {% endif %}
    
    {% for field in form %}
      <div class="form-group">
          {{field.label_tag}} {{field|add_class:"form-control"}}
       </div>
    {% endfor %}
    <input id="save_patient" type="submit" class="btn btn-primary" value="Save Patient" />
</form>
{% endblock %}