@CHARSET "UTF-8";

table.sokoban {
	border-collapse: collapse;
}

table.sokoban td {
	width: 32px;
	height: 32px;
	padding: 0;
	vertical-align: middle;
	text-align: center;
}

table.sokoban td.empty {
	background-image: url(/home/luca/Documents/learning/EloquentJavaScript/img/sokoban/empty.png);
}

table.sokoban td.wall {
	background-image: url(/home/luca/Documents/learning/EloquentJavaScript/img/sokoban/wall.png);
}

table.sokoban td.exit {
	background-image: url(/home/luca/Documents/learning/EloquentJavaScript/img/sokoban/exit.png);
}