node_modules
dist
.tmp
.sass-cache
bower_components
.pyc

Python/mysite/books/__pycache__/
Python/mysite/polls/__pycache__/
Python/mysite/mysite/__pycache__/
Python/mysite/books/migrations/__pycache__/
Python/mysite/polls/migrations/__pycache__/
