<!-- I am using the package django-etc to use the fields' verbose names in the table header.
So those headers are always controlled by what I have in the model.
Note that  I have to use the context name (e.g. all_patients) and I don't have to select the first object of the context.
I just use the context name and the field.
 -->


{% extends "bptrack_base.html" %}

{% block title %}
	BP Track Home
{% endblock %}

{% block content %}
	<h2>Patients</h2>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>{% load model_field %} {% model_field_verbose_name from all_patients.last_name %}</th>
					<th>{% load model_field %} {% model_field_verbose_name from all_patients.first_name %}</th>
					<th>{% load model_field %} {% model_field_verbose_name from all_patients.date_of_birth %}</th>
					<th>{% load model_field %} {% model_field_verbose_name from all_patients.age %}</th>
					<th>{% load model_field %} {% model_field_verbose_name from all_patients.email %}</th>
					<th>Patient Details</th>
				</tr>
			</thead>
			<tbody>
			{% for patient in all_patients %}
				<tr>
					<td>{{ patient.id }}</td>
					<td>{{ patient.last_name }}</td>
					<td>{{ patient.first_name }}</td>
					<td>{{ patient.date_of_birth}}</td>
					<td>{{ patient.age}}</td>
                    <td>{{ patient.email}}</td>
                    {% url 'bptrack:patient-detail'  patient.id  as url_to_details %} <!-- Here I am building the url to the patient-detail view for the patient in each row. I don't need any logic in the view, I use the url tag here in the template. -->
					<td><a href="{{ url_to_details }}">Details</a></td>
				</tr>
			{% endfor %}
			</tbody>	
		</table>
{% endblock %}