<!DOCTYPE html>
<html>

<head>
    <!-- I am using bootstrap as a tool for basic styling.
         Having the reference to bootstrap here in the basic template allows me to use it everywhere else.
         Note the block of code below this which loads bootstrap from a local file.
         It is an approach to consider as an alterntive.
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        -->

    <!-- The code below loads Bootstrap from a local file, not from the network.
         Note it is requires a folder named "static" to be created and the "load static" to be used.
         Looking for the "static" folder is a default behavior of Django apps. --> 
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bptrack/dist/css/bootstrap.min.css' %}" />
    <script src="{% static 'bptrack/dist/js/jquery.min.js' %}"></script>
    <script src="{% static 'bptrack/dist/js/bootstrap.min.js' %}"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--
    The width=device-width part sets the width of the page to follow the screen-width of the device (which will vary depending on the device).
    The initial-scale=1 part sets the initial zoom level when the page is first loaded by the browser.
    -->

    <title>
        {% block title %} {% endblock%}
    </title>

</head>

<body>
    <div class="container">
        <ul class="breadcrumb">
            {% block breadcrumb%}{% endblock %}
        </ul>
        <div class="row" style="display: table; width: 100%">
            <div class="col-md-6" style="display: table-cell; vertical-align: middle">{% block title_1 %}{% endblock %}</div>
            <div class="" style="display: table-cell; vertical-align: middle; text-align: right">{% block right_title_1 %}{% endblock %} {% block right_title_2 %}{% endblock %} </div>
        </div>

        <div class="row" style="display: table; width: 100%">
            <div class="col-md-6" style="display: table-cell; vertical-align: middle; padding: 10px 10px">{% block search %}{% endblock %}</div>
        </div>
        {% block content %}
            <div class="" style="display: table-cell; vertical-align: middle; text-align: right">{% block actions %}{% endblock %} </div>
        {% endblock %}
    </div>
</body>

</html>
